.inner-container {
    background-color: #555555;
    height: 2000px; /* For testing purposes */
    color: #CCCCCC;
    margin-top: 15vh;
}

.forum-footer {
    height: 200px;
}

.forum-description {
    color: #CCCCCC;
    font-size: 2em;
    padding: calc(100vw * 1/47);
}

.reset-font-size {
    font-size: initial;
}