.inner-container {
    background-color: #555555;
    /* height: 2000px; */ /* For testing purposes */
    color: #CCCCCC;
    margin-top: 15vh;
}

.forum-footer {
    height: 200px;
}

.forum-category-title {
    color: #CCCCCC;
    font-size: 2em;
    padding-top: calc(100vw * 1/47/2);
    padding-left: calc(100vw * 1/47/2);
    padding-right: calc(100vw * 1/47/2);
    text-align: left;
}

.forum-description {
    color: #CCCCCC;
    font-size: 1.5em;
    padding-bottom: calc(100vw * 1/47);
    padding-left: calc(100vw * 1/47);
    padding-right: calc(100vw * 1/47);
    text-align: center;
}

.forum-no-categories {
    padding: calc(100vw * 1/47/2);
    text-align: center;
}

a.forum-table-name-link:link {
    color: #EEEEEE;
    text-decoration: none;
    transition: all 150ms;
}

a.forum-table-name-link:visited {
    color: #EEEEEE;
    text-decoration: none;
}

a.forum-table-name-link:hover {
    color: #FFFFFF;
    font-size: 1.05em;
    text-decoration: none;
}

a.forum-table-name-link:active {
    color: #CCCCCC;
    font-size: 1em;
    text-decoration: none;
}

.forum-table-name-description {
    color: #BBBBBB;
    font-size: 0.8em;
}

.category-table {
    width: 100%;
    background-color: #888888;
    color: #EEEEEE;
}

.category-table th {
    /*background-color: #666666;*/
    /*border-color: #606060 !important;*/
}

.category-table td, .category-table th {
    padding: calc(100vw * 1/47/2);
}

.category-table, .category-table th, .category-table td {
    border: 2px solid #666666;
    font-size: 1.1em;
}

.category-table th.category-table-header-category {
    width: 60%;
}

.category-table th.category-table-header-edit {
    width: 10%;
}