.login-container {
    background-color: #555555;
    color: #CCCCCC;
    padding: calc(100vw * 1/47);
}

.login-header {
    /*margin: calc(100vw * 1/47);*/
    text-align: center;
}

.login-container .row {
    padding: calc(100vw * 1/47/4);
}

.login-container input {
    height: 36px;
    width: 100%;
}

.login-container input[type=submit] {
    /*margin-top: calc(100vw * 1/47);*/
    /*margin-bottom: calc(100vw * 1/47);*/
    margin-top: 10%;
    margin-bottom: 10%;
}

.label {
    font-size: 1.3em;
}

.login-errors {
    color: #FF5555;
}