.register-container {
    background-color: #555555;
    color: #CCCCCC;
    padding: calc(100vw * 1/47);
    margin-bottom: 10vh;
    margin-top: 15vh;
}

.register-header {
    /*margin: calc(100vw * 1/47);*/
    text-align: center;
}

.register-container .row {
    padding: calc(100vw * 1/47/4);
}

.register-container input {
    height: 36px;
    width: 100%;
}

.register-container input:not([type=submit]) {
    color: #222222;
}

.register-container input[type=submit] {
    /*margin-top: calc(100vw * 1/47);*/
    /*margin-bottom: calc(100vw * 1/47);*/
    margin-top: 10%;
    margin-bottom: 10%;
}

.label {
    font-size: 1.3em;
}

.register-errors {
    color: #FF5555;
}

.register-successes {
    color: #55FF55;
}

.not-required {
    font-size: 0.9em;
    color: #888888;
}