/* Set the margin and padding on the body to 0 so the container takes up the whole space */
body {
    margin: 0;
    padding: 0;
    background-color: #333333;

    /*margin-left: calc(-100vw * 1/47/2) !important;*/
    /*margin-right: calc(-100vw * 1/47/2) !important;*/
}

.container-fluid {
    /*width: 100vw;*/
    /*height: 100vh;*/

    /*padding-right: 30px;*/
    /*padding-left: 30px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/

    /* Disable container left and right padding */
    padding-left: 0 !important;
    padding-right: 0 !important;
    /*margin-left: calc(100vw * (0-1) * 1/47) !important;*/
    /*margin-right: calc(100vw * (0-1) * 1/47) !important;*/
    max-width: 100vw !important;
    overflow: hidden; /* Disables scrollbars, used for the extra half-spacing at the end that I couldn't get rid of */

    color: #CCCCCC;

    /* Font size adjustment fail */
    /*-webkit-text-size-adjust: none;*/
    /*text-size-adjust: none;*/
    /*font-size: x-large;*/
    /*font-size: 5%;*/
    font-size: 1.2vw;
}

.container-fluid, .main-button, .tahoma-bold, .title {
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-weight: bold;
}

/* Adjust Bootstrap column spacing for columns (class starting with col) inside rows inside the container */
.container-fluid div.row > div[class^="col"] {
    /* Calculate the padding based on 47 spacings (3 per column of the 12 column grid, + 11 intermediate spacings) */
    padding-left: calc(100vw * 1/47/2);
    padding-right: calc(100vw * 1/47/2);
    /*margin-left: 0;*/
    /*margin-right: 0;*/
}

/* Disable padding for the first column */
.container-fluid div.row > div[class^="col"]:first-child {
    /*padding-left: 0;*/
    /*width: calc(8.33333333vw - 100vw * 1/47/2);*/
}

/* Disable padding for the last column */
.container-fluid div.row > div[class^="col"]:last-child {
    /*padding-right: 0;*/
    /*width: calc(8.33333333vw - 100vw * 1/47/2);*/
}

/* Disable row margins */
.row {
    /*margin-left: 0 !important;*/
    /*margin-right: 0 !important;*/
    /*max-width: 100vw !important;*/

    /* Negative margins for a half-spacing so that columns line up with the screen */
    margin-left: calc(-100vw * 1/47/2) !important;
    margin-right: calc(-100vw * 1/47/2) !important;
}

.main-button {
    /*padding: 6px;*/
    padding: 0.2vw;
    text-transform: uppercase;
    /*font-size: large;*/
    font-size: 1vw;
    border-width: 1px;
    background-color: #CCCCCC;
    transition: all 150ms;
    z-index: 0;
}

.main-button:hover {
    transform: scale(1.05);
}

.main-button:active {
    transform: scale(0.95)
}

.title-row {
    position: fixed;
    left: 0;
    /*left: -1.2vw;*/
    right: -999vw;
    top: 0;
    /*top: -14vh;*/
    z-index: -999;
}

.background-logo {
    font-size: 20vw;
    text-transform: uppercase;
    text-overflow: clip;
    overflow: hidden;
    position: fixed;
    color: #444444;
    cursor: default;
    width: 1000vw;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently not supported by any browser */
}

.nav-button {
    /*padding: 6px;*/
    padding: 0.2vw;
    text-transform: uppercase;
    /*font-size: large;*/
    font-size: 1vw;
    border-width: 1px;
    background-color: #CCCCCC;
    transition: all 150ms;
    z-index: -1;
}

.nav-button:hover {
    transform: scale(1.05);
}

.nav-button:active {
    transform: scale(0.95)
}

.nav-button-row {
    position: fixed;
    top: calc(50vh - (100vw * 3/47/2));
    left: 0;
    right: 0;
}

.social-button-row-1 {
    position: fixed;
    left: 0;
    right: 0;
    bottom: calc(100vw * 2.3/47);
}

.social-button-row-2 {
    position: fixed;
    left: 0;
    right: 0;
    bottom: calc(100vw * 1/47);
}

.copyright-row {
    position: fixed;
    left: 0;
    right: 0;
    bottom: calc(100vw * 1/47/4);
}

.copyright {
    font-size: 0.8vw;
    color: #666666;
}

.boxes-row {
    position: fixed;
    left: calc(100vw * 4/47);
    right: 0;
    top: calc(50vh - (100vw * ((3 * 3 + 1) + 2.5)/47)/2);
}

.box {
    height: calc(100vw * ((3 * 3 + 1) + 2.5)/47);
    width: calc(100vw * (4 * 3 + 3)/47);
}

.box-double {
    width: calc(100vw * (8 * 3 + 7)/47);
}

.box-img {
    width: 100%;
    height: calc(100vw * (3 * 3 + 1)/47)
}

.box-img-double {

}

.title {
    text-transform: uppercase;
}

/* Coloring */

.color-white {
    color: #FFFFFF;
}

.color-light-grey {
    color: #CCCCCC;
}

.background-red {
    background-color: #96172e;
    border-color: #aa2b42;
}

.background-orange {
    background-color: #b2541a;
    border-color: #c6682e;
}

.background-tan {
    background-color: #f3cf45;
    border-color: #ffe359;
}

.background-green {
    background-color: #739600;
    border-color: #87aa14;
}

.background-gold {
    background-color: #b88b00;
    border-color: #cc9f14;
}

.background-blue {
    background-color: #385475;
    border-color: #4c6889;
}

/* Styling */
.overflow-hidden {
    overflow: hidden;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.all-caps {
    text-transform: uppercase;
}

.debug-border {
    border: 1px solid red !important;
}