.header-container {
    color: #CCCCCC;
    margin-top: 15vh;
}

.topic-above-content-controls {
    padding: calc(100vw * 1/47/2);
    float: right;
}

.title {
    font-size: 1.4em;
}

.post-column {
    background-color: #444444;
    padding: calc(100vw * 1/47/2);
    border-radius: 2px;
    color: #CCCCCC;
    /*min-height: calc(100vw * 1/47 * 5);*/
    
}

.post-user-column {
    
}

.post-content-column {
    
}

/* These next three rules make the columns the same height */
.post-bootstrap-row {
    display: flex;
    /*min-height: calc(100vw * 1/47 * 5);*/
    margin-bottom: calc(100vw * 1/47/2);
}

.post-user-bootstrap-column {
    flex: 1;
}

.post-content-bootstrap-column {
    flex: 1;
    
}

.post-user-name {
    text-align: center;
}

.post-user-profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(100vw * 1/47/4);
    margin-bottom: calc(100vw * 1/47/4);
}

.post-user-details {
    
}

.post-header, .post-footer {
    color: #999999;
    font-size: 0.9em;
}

.post-footer {
    position: absolute;
    bottom: calc(100vw * 1/47/2);
}

.post-right-content {
    float: right;
}

.post-right-content * {
    margin-left: calc(100vw * 1/47/2);
}

.post-content {
    margin-top: calc(100vw * 1/47/2);
    white-space: pre-wrap;
}

.post-content img {
    max-width: 100%;
}